.hr {
  border-bottom: 1px solid gray;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  tr {
    th, td {
      border: 1px solid #dddddd;
      padding: 8px;
      min-width: 100px;
    }

    &:nth-last-child(1) {
      td {
        text-align: right;
      }
    }
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
